/* header */


body {
    margin: 0;
    background-color: #142728;
}

#logoennav {
    background-color: #045A5F;
}

header {
    background-color: #045A5F;
    display: grid;
    grid-template-columns: 200px 400px auto 200px;
}

#logoennav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#explorar {
    display: flex;
    justify-content: left;
}

.pinenlace {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

#Mensajes {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

#botonUsuario {
    display: flex;
    justify-content: flex-start;
}

/* cuerpo */

#body {
    display: grid;
    grid-template-columns: 1fr 20px 5fr;
    padding: 20px;
}

#biginsert {
    background-color: #045A5F;
    border-radius: 20px;
}

#noticias {
    background-color: #045A5F;
    border-radius: 20px;
}



#insert {
    display: grid;
    grid-template-rows: auto auto;
}

.imagenjuego {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#caratula {
    height: 200px;
    border-radius: 10px;
}

.indata {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: x-large;
    padding: 10px;
}


h2, h3 {
    color: white;
    padding-left: 20px;
}

.loco {
    display: grid;
    grid-template-columns: 20px auto 20px;
}
.loco1 {
    display: grid;
    grid-template-columns: 20px auto 500px;
}

.infofase {
    display: grid;
    grid-template-columns: 250px auto;
}

.imagenfase {
    padding: 20px;
}

.imagenfasein {
    border-radius: 20px;
    height: 200px;
}

.pindatafase {
    display: flex;
    justify-content: flex-start;
    color: white;
    padding: 10px;
}

.ataques {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.imagenataque {
    height: 200px;
    border-radius: 10px;
}

.ataqueimagen {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.ataquenombre {
    color: white;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}