body {
    background-color: #142728;
    display: grid;
    grid-template-columns: auto auto auto;
}

#contenedor {
    display: grid;
    grid-template-rows: 250px auto auto;
}

#logo {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#a {
    text-decoration: none;
}

#boton {
    display: flex;
    justify-content: center;
}

#inboton {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: green;
}

#texto {
    display: grid;
    grid-template-rows: auto auto auto;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
}

